<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <section class="about">
        <h2>Our Mission</h2>
        <p>At JOBVAC CORNER, our team is committed to creating a seamless and user-friendly platform that connects job seekers with their dream careers and assists employers in finding the perfect candidates.</p>
        
        <p>We aim to:</p>
        
        <ul>
            <li>Provide an intuitive and efficient job search experience for users of all backgrounds and experiences.</li>
            <li>Showcase a wide range of job opportunities across various industries and skill levels.</li>
            <li>Ensure job listings are up-to-date and relevant to the local job market.</li>
            <li>Empower both job seekers and employers by offering comprehensive tools and resources.</li>
            <li>Deliver a secure and trustworthy environment where users can confidently connect and interact.</li>
        </ul>
        
        <p>Our passion for enhancing the employment journey drives us to continuously improve our platform and make a positive impact on the lives of individuals and businesses in our community.</p>
    </section>
    <footer>
        <p>&copy; 2023 JOBVAC CORNER</p>
    </footer>
</body>
</html>
